# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Blacklamp.Web.Boilerplate.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Development\Web\Blacklamp.Web.Boilerplate\.idea\.idea.Blacklamp.Web.Boilerplate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
